body{
	width: 100vw;
	max-height: 150px;
	/*background-color: yellow;*/
}
#all-container{
	display: flex;
    position: relative;
    max-height: 150px;
    max-width: 400px;
    margin: 20px;
    /*background-color: */
}

.Shape_7{
    position: absolute;
    left: 300px;
    width: 100px;
    height: 50px;
    
}

.name{
	color: #313131;
	font-family: lato;
	font-size: 15px;
	font-weight: bold;
	position: absolute; 
}

span{
	color: #313131;
	font-family: lato;
	font-size: 10px;
	font-weight: lighter;
	position: absolute;
}

#text{
	position: relative;
	display: flex;
	width: 150px;
	top: auto;
	left: 20px;
}
#contact{
	display: flex;
	position: relative;
	width: 110px;
	justify-content: space-between;
	top: 60px;
    right: 130px;
}


.number{
	display: flex;
	position: absolute;
	color: #313131;
	font-family: lato;
	font-size: 10px;
	font-weight: lighter;
	right: 0;

}

.icon{
	position: absolute;
	display: flex;
	width: 16px;
	height: 12px;
	top: 10px;
}

#location{
	display: flex;
	position: relative;
	width: 120px;
	justify-content: space-between;
	top: 100px;
    right: 240px;
}


.address{
	display: flex;
	position: absolute;
	color: #313131;
	font-family: lato;
	font-size: 10px;
	font-weight: lighter;
	right: 2px;

}

.locate{
	position: absolute;
	display: flex;
	color: #313131;
	width: 16px;
	height: 12px;
	top: 10px;
}




#mail{
	display: flex;
    position: relative;
    width: fit-content;
    justify-content: space-between;
    top: 60px;
    right: 160px;
}


.mail-address{
	display: flex;
	position: absolute;
	color: #313131;
	font-family: lato;
	font-size: 10px;
	font-weight: lighter;
}

.mail-icon{
	position: absolute;
	display: flex;
	color: #313131;
	width: 16px;
	height: 12px;
	top: 10px;
	right: 5px;
}







#web{
	display: flex;
    position: relative;
    width: fit-content;
    justify-content: space-between;
    top: 100px;
    right: 160px;
}


.web-address{
	display: flex;
	position: absolute;
	color: #313131;
	font-family: lato;
	font-size: 10px;
	font-weight: lighter;
}

.web-icon{
	position: absolute;
	display: flex;
	color: #313131;
	width: 16px;
	height: 12px;
	top: 10px;
	right: 5px;
}
